:root{
  /* Primary Colors Settings*/
  --Purple50:hsl(260, 100%, 95%);
  --Purple300:hsl(264, 82%, 80%);
  --Purple500:hsl(263, 55%, 52%);
  /* Neutral Colors Settings*/
  --White:hsl(0, 0%, 100%);
  --Grey100:hsl(214, 17%, 92%);
  --Grey200:hsl(0, 0%, 81%);
  --Grey400:hsl(224, 10%, 45%);
  --Grey500:hsl(217, 19%, 35%);
  --DarkBlue:hsl(219, 29%, 14%);
  --Black:hsl(0, 0%, 7%);
  /* Project Font Size Settings */
  --fontSize:13px;
  --fontFamily:"Barlow Semi Condensed", serif;
}
main{
  font-family: var(--fontFamily);
  font-style: normal;
  font-size: var(--fontSize);
  color: var(--White);
}
.mainCard{
  padding: 3vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 45vh;
  box-shadow: 25px 32px 64px -37px rgba(0,0,0,0.75);
}
.mainCardInfo{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.cardUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3vh;
}
.cardUserImage {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
}
.cardUserName{
  font-weight: 600;
}
.cardUserVerify{
  font-weight: 500;
}
.cardUserName, .cardUserVerify {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3vh;
}
.cardContentInfo{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3vh;
}
.card1 {
  background-color: var(--Purple500);
}
.card2{
  background-color: var(--Grey500);
}
.card3, .card5{
  background-color: white;
  color: var(--Black);
}
.card4{
  background-color: var(--DarkBlue);
}

@media (min-Width:768px){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  main{
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    
  }
  .card1/*Daniel*/{
    width: 95%;
    height: auto;
    grid-column: 1/3;
    gap: 2vh;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 40vh;
  }
  .card2/*Jonathan*/{
    grid-column: 3/4;
    width: 95%;
    gap: 2vh;
  }
  .card4/*Patrick*/{
    grid-column: 2/4;
    grid-row: 2/3;
    width: 95%;
    gap: 2vh;
  }
  .card3/*Janette*/{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 95%;
    gap: 2vh;
  }
  .card5/*Kira*/{
    width: 95%;
    grid-column: 4/5;
    grid-row: 1/3;
    gap: 2vh;
  }
}